apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification
  strategy: 
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 2
  template:
    metadata:
      labels:
        app: notification
    spec:
      containers:
      - name: notification
        image: deveshk237572/notification:latest
        imagePullPolicy: Always
        envFrom:
          - configMapRef:
              name: notification-configmap
          - secretRef:
              name : notification-secret
        resources:
          requests:
            memory: "128Mi"
            cpu: "100m"
          limits:
            memory: "256Mi"
            cpu: "500m"

